#about,
#projects,
#contact {
  height: 100vh;
}

.img-wrapper {
  /*  width: 100% !important;*/
  height: 40vh !important;
  object-fit: cover;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}
